@using System.Linq
@using myLibrary.Models;
@model BookModel;
@using System.Collections.Generic
@{
    ViewData["Title"] = "Book";
}
<table class="table">
    <thead>
     <tr>
       <th> Id  </th>
       <th> Name  </th>
       <th> Author  </th>
    
     </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.Books)
    {
        <tr>
           <td> @item.Id </td>
           <td> @item.Name </td>
           <td> @item.Author </td>
         
        </tr>
    }
    </tbody>



</table> 
<form method="GET">
    <!--input model jasau kk tagy  create-->
    @for(var i = 0; i < Model.BookPage; i ++) {
        <button type="submit" name="page" value="@i">@i</button>
    }
  <button type="submit" name="Flag" class="btn btn-primary" value="Sort by Name" >Sort by Name</button>
  <button type="submit" class="btn btn-primary" name="Flag" value="Sort by Author"> Sort by Author</button>
</form>